[user]
  name = Sam Vevang
  mail = sam.vevang@gmail.com
  email = sam.vevang@gmail.com
[core]
  excludesfile = ~/.gitignore
[push]
  default = upstream

[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  lg = log -p
[merge]
  ff = no
